.product__menu {
    height: 90%;
    display: flex;
    gap: 64px;
    align-items: flex-start;
    position: relative;
}
.menu__icon {
    display: none;
}
.logo {
    display: flex;
    height: 100%;
    gap: 16px;
    align-items: flex-start;
}
.logo__image {
    width: 140px;
    height: 32px;
}
.product__menu-items {
    display: flex;
    height: 100%;
    align-items: flex-end;
    gap: 32px;
    color: rgb(74, 74, 74);
    font-weight: lighter;
}
.product__menu-items p {
    position: relative;
    cursor: pointer;
    height: 80%;
}
.product__menu-items p::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s linear;
}
.product__menu-items p:hover::after {
    width: 100%;
}
.menu__items-mobile {
    display: none;
}
@media screen and (max-width: 480px) {
    .product__menu-items {
        display: none;
    }
    .menu__items-mobile {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: absolute;
        top: calc(100% + 12px);
        left: 0;
        background-color: #fff;
        width: 200px;
        height: max-content;
        align-items: center;
        padding: 32px 0;
        box-shadow: 0 2px 15px rgb(170, 170, 170);
        color: rgb(74, 74, 74);
        font-weight: lighter;
        z-index: 4;
    }
    .menu__items-mobile p {
        position: relative;
        cursor: pointer;
        height: 80%;
    }
    .logo {
        align-items: center;
    }
    .logo__image {
        height: 32px;
    }
    .menu__icon {
        display: block;
        cursor: pointer;
        width: 20px;
        height: 16px;
    }
}