@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
.product-page {
    width: 100vw;
    height: 100vh;
    padding: 32px 64px;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
}

@media screen and (max-width: 480px) {
    .product-page {
        padding: 16px 8px;
        height: max-content;
    }
}