.product__header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 64px;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.1px solid rgb(190, 190, 190);
    position: relative;
}
@media screen and (max-width: 480px) {
    .product__header {
        width: 100%;
    }
}